@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styling */
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
